<div id="main_body" >
  <div class="row" id="top_row_about">
          <div class="col-md-offset-2 col-md-4">
          <p><h5>Word Herd begins its work by scraping the web for articles related to your query.<br><br><br><br><br><br><br><br>
            Next, it takes the first 100 significant words of those articles, removing <a href="https://en.wikipedia.org/wiki/Stop_words">stopwords</a> like "the", "a" and "that".</h5></p>


          </div>
          <div class="col-md-4">  <img src="/newspaper.jpg" alt='newspapers' height="350.64px" width="250px"></div>
      </div>
      <div class="row" id="second_row_about">
        <div class="col-md-offset-2 col-md-4"><img src="/network.jpg" alt='newspapers' height="420.77px" width="300px"></div>
        <div class="col-md-4"><p><h5>Once Word Herd has collected the significant words, it creates a network where words are the nodes, which are linked together if they appear in the same article.
        <br><br>
        Finally, Word Herd uses <a href="http://www.mapequation.org/code.html">Infomap</a> to analyze the network for clusters of words. These clusters loosely represent words that are more likely to appear with eachother than with those in the corpus as a whole.
        <br><br>
        The result is displayed for you in lists of words from each group. Words are ordered based on the "flow" of the word (which can be roughly understood as pagerank), and are sized based on their frequency within the corpus.
      </h5></p></div>
    </div>
    <div class="row final_row">
        <div class="col-md-offset-2 col-md-4">
          <h4><u>Sources</u></h4>
          <p><i>Word Herd pulls its source text from articles found on the following websites. Specifically, it uses a google news query to identify articles relavent to your search.</i>
          </p>
          <ul>
            <li><a href="http://abcnews.go.com/">American Broadcasting Company (ABC)</a></li>
            <li><a href="http://www.cnn.com">Cable News Network (CNN)</a></li>
            <li><a href="http://www.nbcnews.com/">National Broadcasting Compay (NBC)</a></li>
            <li><a href="http://www.huffingtonpost.com">The Huffington Post</a></li>
            <li><a href="http://www.cbsnews.com">CBS</a></li>
            <li><a href="http://www.nytimes.com">The New York Times</a></li>
          </ul>

        </div>
        <div class="col-md-4"><h4><u>About the Creator</u></h4><p>
          Word Herd is the creation of the <a href="https://www.linkedin.com/in/abraham-chen-209a6218">Abraham Chen</a>, and MBA/MS in Design Innovation at the Kellogg School of Management in Evanston, IL. This is his first web application.
        </p></div>
    </div>

</div>
