
<div id="main_body" >


<div class="affix row" id="more_content">
  <div class="col-sm-8 col-md-offset-2 row" id="hero_text">

    <i><h4>Word Herd helps you look at the news through Network Analytics and Natural Language Processing. It provides you groups of words that most often appear together, giving you a sense of themes and bias.</h4></i>
  </div>

  <div id="goatdiv row col-sm-8 col-md-offset-2">

  </div>

  <div class="row">
    <% if @query != FALSE %>
    <h5 class="col-md-offset-2 col-md-6">&nbsp;&nbsp;&nbsp;Resulting groups for "<%= @query.query %>"</h5>
    <% else %>
    <h3>   </h3>
    <% end %>


  </div>
  <div class="row" id="row_for_delete">
    <a href="/delete_newest" class="col-md-offset-2 btn-link" rel="nofollow" style="margin-left:" id="delete_button">
      Delete displayed query
    </a>
  </div>
</div>




  <!-- <div class="wrapper2"> -->
<div class="wrapper">
  <!-- <div class ="dynamic-div"> -->
      <div class="row row-horizon" id="main_results" style="width:100%;">
        <% @modules.each do |mod| %>
        <div class="col-md-3" style="z-index:-10;">
          <!-- <h1>Module <%= mod %></h1> -->
          <div class="panel panel-default module-div">


            <div class="panel-body">

              <% @data.each do |datum| %>
              <% if datum['module'].split(":")[0] == mod  %>
              <div class="panel">
                <div class="panel=body word-div" >
                  <!-- <% sizer = Math.log((datum.freq^10)*10000)  %> -->
                  <% sizer = datum.freq * 10  %>
                  <% if sizer > 30 %>
                  <% sizer = 30 %>
                  <% end %>
                  <p style="font-size:<%= sizer %>px;" class="word-div"><%= datum.word %></p>
                </div>

              </div>
              <% end %>

              <% end %>
            </div>

          </div>
        </div>
        <% end  %>
      </div>
    <!-- </div> -->
  </div>

  <!-- </div> -->




</div>






<script type="text/javascript">
$(document).ready(function() {
    $('form#query_form').keyup(function() {

        var empty = false;
        $('.query_field input').each(function() {
            if ($(this).val().length == 0) {
                empty = true;
            }
        });

        if (empty) {
            $('.form-group button').attr('disabled', 'disabled');
        } else {
            $('.form-group button').removeAttr('disabled');
        }

    });
});
</script>
